imports:
  - { resource: ./vendor/openeuropa/code-review-drupal/dist/drupal-conventions.yml }

grumphp:
  git_hook_variables:
    EXEC_GRUMPHP_COMMAND: 'docker-compose exec -T web'
  tasks:
    phpparser:
      ignore_patterns:
       - vendor/
       - build/
      visitors:
        declare_strict_types: ~
      triggered_by:
        - php
        - module
        - inc
        - theme
        - install

parameters:
  tasks.phpcs.standard: phpcs.xml
