<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="${drupal.root}/core/tests/bootstrap.php" backupGlobals="true" colors="true" cacheResult="false">
  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <env name="SIMPLETEST_BASE_URL" value="http://web:8080/${drupal.root}"/>
  </php>
  <testsuites>
    <testsuite name="OpenEuropa Showcase">
      <directory>./modules/**/tests/</directory>
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
