drupal:
  root: "build"
  base_url: "http://web:8080/build"
  site:
    name: "OpenEuropa"
    profile: "oe_showcase"
  database:
    host: "mysql"
    port: "3306"
    name: "oe_showcase"
    user: "root"
    password: ""
  sparql:
    host: "sparql"
    port: "8890"
  post_install:
    # Prepare the instance.
    - "./vendor/bin/drush config-set system.theme default oe_whitelabel -y"
    - "./vendor/bin/drush config-set system.theme admin seven -y"
    - "./vendor/bin/drush config-set node.settings use_admin_theme 1 -y"
    - "./vendor/bin/drush oe-multilingual:import-local-translations"
    # Don't aggregate or some pages will not be showed properly.
    - "./vendor/bin/drush -y config-set system.performance css.preprocess 0"
    - "./vendor/bin/drush -y config-set system.performance js.preprocess 0"
    # Move file assets.
    - "cp -R modules/oe_showcase_default_content/content/default_images/. build/sites/default/files/."
    # Remove existing settings for breadcrumb to allow new configuration.
    - "./vendor/bin/drush config-delete easy_breadcrumb.settings"
    # Enable the modules.
    - "./vendor/bin/drush en oe_showcase_search -y"
    - "./vendor/bin/drush en oe_showcase_navigation -y"
    - "./vendor/bin/drush en oe_showcase_page -y"
    - "./vendor/bin/drush en oe_showcase_event -y"
    - "./vendor/bin/drush en oe_showcase_default_content -y"
    # Set home page.
    - "./vendor/bin/drush config-set system.site page.front /home -y"
    # Index content.
    - "./vendor/bin/drush sapi-i"
    - "./vendor/bin/drush en config_devel -y"
    - "./vendor/bin/drush cset oe_authentication.settings assurance_level LOW -y"
    - "./vendor/bin/drush cr"
  settings:
    settings:
      file_scan_ignore_directories:
        - "node_modules"
        - "bower_components"
        - "vendor"
        - "${drupal.root}"
      file_private_path: "sites/default/files/private"
    databases:
      sparql_default:
        default:
          prefix: ""
          host: ${drupal.sparql.host}
          port: ${drupal.sparql.port}
          namespace: 'Drupal\sparql_entity_storage\Driver\Database\sparql'
          driver: 'sparql'
commands:
  drupal:site-setup:
    - { task: "run", command: "drupal:symlink-project" }
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
    - { task: "run", command: "setup:phpunit" }
    - { task: "run", command: "setup:behat" }
  setup:phpunit:
    - { task: "process", source: "phpunit.xml.dist", destination: "phpunit.xml" }
  setup:behat:
    - { task: "process", source: "behat.yml.dist", destination: "behat.yml" }
