.glossary-view .views-exposed-form {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.glossary-view .views-exposed-form .form-item {
  margin: 0 0 0 1.5rem !important;
}
.glossary-view .views-exposed-form .form-label,
.glossary-view .views-exposed-form .form-select {
  display: inline-block !important;
  width: auto;
}

.glossary-view .views-exposed-form .form-label {
  margin-right: 1.5rem;
}
