{#
/**
 * @file
 * Override Event teaser to add badges.
 */
#}
{% set _title %}
  <a class="standalone" href="{{ url }}">{{ label }}</a>
{% endset %}
{% set _badges = [] %}
{% for _item in content.field_event_type|field_value %}
  {% set _badges = _badges|merge([{
    label: _item,
  }]) %}
{% endfor %}
{{ pattern('card', {
  variant: 'search',
  title: _title,
  text: content.oe_summary,
  date: date_block,
  meta: [
    content.oe_sc_event_dates|field_value,
    content.oe_sc_event_location|field_value,
  ]|filter(element => element is not empty),
  attributes: attributes,
  badges: _badges,
}) }}
