{#
/**
 * @file
 * Override Event content banner display to add badges.
 */
#}
{% set _badges = [] %}
{% for _item in content.field_event_type|field_value %}
  {% set _badges = _badges|merge([{
    label: _item,
    rounded_pill: true,
  }]) %}
{% endfor %}
{% set _action_bar %}
  <div class="d-flex justify-content-end mt-2 align-items-center">
    {{ content.flag_subscribe_node }}
    {{ content['extra_field_oe_subscriptions_anonymous_subscribe_link:subscribe_node'] }}
  </div>
{% endset %}
<div{{attributes}}>
  {{ pattern('content_banner', {
    background: 'gray',
    title: label,
    content: [
      content.oe_summary,
    ],
    image: image,
    links: links,
    badges: _badges,
    action_bar: _action_bar,
  }) }}
</div>
