{#
/**
 * @file
 * Search result template.
 */
#}
{% set _title %}
  <a class="standalone" href="{{ url }}">{{ label }}</a>
{% endset %}
{% set _badges = [] %}
{% for _item in content.field_category|field_value %}
  {% set _badges = _badges|merge([{
    label: _item,
  }]) %}
{% endfor %}
{{ pattern('card', {
  variant: 'search',
  title: _title,
  title_tag: 'h2',
  text: content.body,
  image: image,
  badges: _badges,
  meta: [
    node.getCreatedTime|format_date('oe_showcase_search_demo_date'),
  ],
}) }}
