{#
/**
 * @file
 * Search result template.
 */
#}
{% set _title %}
  <a class="standalone" href="{{ url }}">{{ label }}</a>
{% endset %}
{{ pattern('card', {
  variant: 'search',
  title: _title,
  text: content.body,
  meta: [
    node.getCreatedTime|bcl_timeago,
  ],
}) }}
