{#
/**
 * @file
 * Override News teaser to add badges.
 */
#}
{% set _title %}
  <a class="standalone" href="{{ url }}">{{ label }}</a>
{% endset %}
{% set _badges = [] %}
{% for _item in content.field_news_type|field_value %}
  {% set _badges = _badges|merge([{
    label: _item,
  }]) %}
{% endfor %}
{% block content %}
  {{ pattern('card', {
    variant: 'search',
    title: _title,
    text: content.oe_summary,
    image: image,
    badges: _badges,
    attributes: attributes,
  }) }}
{% endblock %}
