{#
/**
 * @file
 * List page content banner.
 */
#}
<div{{ attributes }}>
  {{ pattern('content_banner', {
    background: 'gray',
    title: label,
    content: content.oe_summary,
    image: image,
  }) }}
</div>
