{#
/**
 * @file
 * Search result template.
 */
#}
{% set _title %}
  <a class="text-underline-hover" href="{{ url }}">{{ label }}</a>
{% endset %}
{% set _badges = [] %}
{% for _item in content.field_category|field_value %}
  {% set _badges = _badges|merge([{
    label: _item,
  }]) %}
{% endfor %}
{{ pattern('card', {
  variant: 'search',
  title: _title,
  text: content.body,
  image: {
    path: content.field_image[0]['#markup'],
  },
  badges: _badges,
  meta: [
    node.getCreatedTime|bcl_timeago,
  ],
}) }}
