/**
 * @file
 * Styling for the entity browser form.
 */

.view-av-portal-entity-browsers .views-row,
.view-media-entity-browsers .views-row {
  grid-auto-flow: column;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 10px;
  display: grid;
  margin-top: 16px;
}

.view-av-portal-entity-browsers .views-row:first-child,
.view-media-entity-browsers .views-row:first-child {
  margin-top: 0;
}

.view-av-portal-entity-browsers .views-col,
.view-media-entity-browsers .views-col {
  background: #ebebeb;
  width: auto !important;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 32px;
  cursor: pointer;
}

.view-av-portal-entity-browsers .views-col .views-field-thumbnail,
.view-media-entity-browsers .views-col .views-field-thumbnail__target-id {
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #ebebeb;
  border-right: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4;
  height: 100%;
}

.view-av-portal-entity-browsers .views-col .views-field-thumbnail img,
.view-media-entity-browsers .views-col .views-field-thumbnail__target-id img {
  max-width: 100%;
  border-color: transparent;
  display: block;
}

.view-av-portal-entity-browsers .views-field-title,
.view-media-entity-browsers .views-field-name {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.view-av-portal-entity-browsers .views-field-title .field-content,
.view-media-entity-browsers .views-field-name .field-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  background: #fff;
  border: 1px solid #c4c4c4;
  padding: 5px 10px;
  display: block;
  box-sizing: border-box;
}

.view-av-portal-entity-browsers .views-field-title .field-content:hover,
.view-media-entity-browsers .views-field-name .field-content:hover {
  overflow: auto;
  white-space: inherit;
}

.view .views-col.selected::before {
  top: -18px;
}
