.glossary-view {
  .views-exposed-form {
    display: flex;
    justify-content: flex-end;
    align-content: center;

    .form-item {
      margin: 0 0 0 1.5rem !important;
    }

    .form-label,
    .form-select {
      display: inline-block !important;
      width: auto;
    }

    .form-label {
      margin-right: 1.5rem;
    }
  }
}
