{#
/**
 * @file
 * Override template for webtools social share.
 *
 * @see ./modules/contrib/oe_webtools/modules/oe_webtools_social_share/templates/oe-webtools-social-share.html.twig
 */
#}
<div class="bcl-social-media-share">
  {% include '@oe-bcl/bcl-heading/heading.html.twig' with {
    title: title,
    title_tag: 'h2',
  } only %}
  <script type="application/json">{{ icons_json }}</script>
</div>
